In [1]:
import mysql.connector
import csv
import pymysql

In [ ]:
!pip install pymysql

In [4]:
cursor = mydb.cursor()

In [6]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='solo2018',
    database='Academics2'
    
)

print("Ready to start again")

Ready to start again

In [ ]:
print(f'The version of MySQL connected to us {database.get_server_info()}')
cursor = mydb.cursor()

In [5]:
cursor.execute('CREATE DATABASE IF NOT EXISTS Academics2')
print("Database Academics created successfully")

Database Academics created successfully

In [7]:
cursor.execute("SHOW DATABASES")
for x in cursor:
    print(x)

ReferenceError: weakly-referenced object no longer exists

In [8]:
database = mysql.connector.connect(
    host='localhost',
    user='root',
    password='solo2018',
    database='Academics2'
)
cursor = mydb.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS Colleges("
                  "CollegeId INT PRIMARY KEY,"
                  "CollegeName VARCHAR(100),"
                  "CollegeAddress VARCHAR(100),"
                  "CollegeCity VARCHAR(100),"
                  "CollegeCountry VARCHAR(100))")
print("Table Colleges Created Successfully")

Table Colleges Created Successfully

In [ ]:
import os
os.getcwd()

In [ ]:
import mysql.connector as brenda

In [ ]:
mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for brenda in mycursor:
    print(brenda)

In [ ]:
#def create_college_table():
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Colleges("
                  "CollegeId INT PRIMARY KEY,"
                  "CollegeName VARCHAR(100),"
                  "CollegeAddress VARCHAR(100),"
                  "CollegeCity VARCHAR(100),"
                  "CollegeCountry VARCHAR(100))")
print("Table Colleges Created Successfully")

In [9]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Professors("
                 "TeacherId INT(10) PRIMARY KEY,"
                  "TeacherName VARCHAR(100),"
                  "CollegeId INT(10),"
                  "Specialty VARCHAR(100),"
                  "Salary INT(100),"
                 "Experience INT(10),"
                  "DateJoined DATE);")
print("Table Professors Created Successfully")

Table Professors Created Successfully

In [10]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Students("
                 "StudentId INT(10) PRIMARY KEY,"
                  "StudentName VARCHAR(100),"
                  "CollegeId INT(10),"
                  "MajorTaken VARCHAR(100),"
                  "CollegeLevel VARCHAR(100),"
                 "StudentEmail VARCHAR(100),"
                  "DateJoined DATE);")
print("Table Students Created Successfully")

Table Students Created Successfully

In [ ]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

In [11]:
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Colleges.csv","r"))

next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Colleges(CollegeId,CollegeName,CollegeAddress,CollegeCity,CollegeCountry) VALUES(%s,%s,%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered")

Data Entered

In [12]:
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Professors.csv","r"))

next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Professors(TeacherId,TeacherName,CollegeId,Specialty,Salary,Experience,DateJoined) VALUES(%s,%s,%s,%s,%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered")

Data Entered

In [16]:
 import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Professors.csv","r"))

next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Students(StudentId,StudentName,CollegeId,MajorTaken,CollegeLevel,StudentEmail,DateJoined) VALUES(%s,%s,%s,%s,%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered")

Data Entered

In [15]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
esther = mydb.cursor()

esther.execute('''SELECT * FROM 
               (Colleges INNER JOIN Professors ON Colleges.CollegeId = Professors.CollegeId) 
               INNER JOIN Students ON Professors.CollegeId = Students.CollegeId''');
print(esther.fetchall())

mydb.commit()
esther.close()

[]

True

In [23]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Academics2"
)
esther = mydb.cursor()

def studies():
    esther.execute("""SELECT * FROM Students INNER JOIN Colleges ON Colleges.CollegeId = Students.CollegeId 
               INNER JOIN Professors ON Colleges.CollegeId = Professors.CollegeId""")

    
    for z in esther.fetchall():
        print(z)

studies()

(2717238, 'Peach Rose', 4509129, 'Biology ', '90000', '15', datetime.date(2006, 2, 9), 4509129, 'New York University', '907 Nostrand Av', 'New York', 'USA', 2717238, 'Peach Rose', 4509129, 'Biology ', 90000, 15, datetime.date(2006, 2, 9))
(4389203, 'Robert Evanson', 9026527, 'Psychology ', '110000', '26', datetime.date(1995, 4, 6), 9026527, 'Oxford University', '765 Lancaster Dr', 'London', 'England', 4389203, 'Robert Evanson', 9026527, 'Psychology ', 110000, 26, datetime.date(1995, 4, 6))
(5260054, 'McCullin George', 8865252, 'Web Design ', '100000', '21', datetime.date(2000, 11, 3), 8865252, 'Nairobi University', '346 Uhuru Highway ', 'Nairobi', 'Kenya', 5260054, 'McCullin George', 8865252, 'Web Design ', 100000, 21, datetime.date(2000, 11, 3))
(8292737, 'Jane Bobble', 6746295, 'Philosophy ', '75000', '12', datetime.date(2009, 11, 7), 6746295, 'University of Pretoria', '27 Jaohannes St', 'Pretoria', 'South Africa', 8292737, 'Jane Bobble', 6746295, 'Philosophy ', 75000, 12, datetime.date(2009, 11, 7))
(9808929, 'Annie Apple', 8708601, 'English ', '120000', '23', datetime.date(1998, 3, 5), 8708601, 'Yale', '235 Bond St', 'New Haven', 'USA', 9808929, 'Annie Apple', 8708601, 'English ', 120000, 23, datetime.date(1998, 3, 5))